<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <title>SF-FreePBX</title>
    </head>
    <body style="width:95%;margin-left:auto;margin-right:auto;">
    <div class="page-header">
        <h1>SF-FreePBX <small>Logging FreePBX calls in SalesForce</small></h1>
    </div>
    {% for i in showMessage %}
    <div class="alert alert-info" role="alert">{{ i }}</div>
    {% endfor %}

    {% if sfValid and astValid %}
        <!--White List-->
        <div class="panel panel-default" style="height:450px;float:left;width:250px;margin:5px;">
            <div class="panel-heading">Active Users<br /><small>Additionally to the Shared Users</small></div>
            <div class="panel-body">
                <form role="form" action="/" autocomplete="off" method="POST">
                <div class="form-group">
                    <select class="form-control" name="whitelist" multiple="multiple" style="height:300px;width=90%">
                    {% for extension in extensions %}
                        {% if extension[1] in activeUsersNames %}
                            <option value="{{ extension[0] }}"
                            {% if extension[0] in whitelistLogging %}
                                selected="selected"
                            {% endif %}
                            >{{ extension[0] }}: {{ extension[1] }}</option>
                        {% endif %}
                    {% endfor %}
                    </select><br />
                    <button type="submit" class="btn btn-primary" style="margin:5px;">Update</button>
                    <a href="/?clear=active" class="btn btn-danger" style="margin:5px;" role="button">Clear</a>
                </div>
                </form>
            </div>
        </div>
        {% for sharedId, sharedExts in sharedUsers.iteritems() %}
            <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
                <div class="panel-heading">Shared User: {{ activeUsers[sharedId]['Username'] }}</div>
                <div class="panel-body">
                    <form role="form" action="/" autocomplete="off" method="POST" >
                        <div class="form-group">
                            <select class="form-control" name="{{ sharedId }}" multiple="multiple" style="height:300px;width=90%">
                            {% for extension in extensions %}
                                <option value="{{ extension[0] }}"
                                {% if extension[0] in sharedUsers[sharedId] %}
                                    selected="selected"
                                {% endif %}
                                > {{ extension[0] }}: {{ extension[1] }}</option>
                            {% endfor %}
                            </select><br />
                            <button type="submit" class="btn btn-primary" style="margin:5px;">Update</button>
                            <a href="/?deleteUser={{ sharedId }}" class="btn btn-danger" style="margin:5px;" role="button">Delete User</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
        {% if emailUsers|length > 0 %}
            <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
                <div class="panel-heading">Emails Enabled<br />&nbsp;</div>
                <div class="panel-body">
                    <form role="form" action="/" autocomplete="off" method="POST" >
                    <div class="form-group">
                        <select class="form-control" name="emailEnabled" multiple="multiple" style="height:300px;width=90%">"""
                        {% for userId in emailUsers %}
                            <option value="{{ UserId }}"
                            {% if emailUsers[userId] %}
                                selected="selected"
                            {% endif %}
                            >{{ activeUsers[userId]['Username'] }}</option>
                        {% endfor %}
                        </select><br />
                        <button type="submit" class="btn btn-primary" style="margin:5px;">Update</button>
                        <a href="/?clear=email" class="btn btn-danger" style="margin:5px;" role="button">Clear</a>
                    </div>
                    </form>
                </div>
            </div>
    {% endif %}
    {% if voicemailUsers|length > 0 %}
        <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
            <div class="panel-heading">Voicemail Logging Enabled<br />&nbsp;</div>
            <div class="panel-body">
                <form role="form" action="/" autocomplete="off" method="POST" >
                <div class="form-group">
                    <select class="form-control" name="voicemailEnabled" multiple="multiple" style="height:300px;width=90%">
                    {% for UserId in voicemailUsers %}
                        <option value="{{ UserId }}"
                        {% if voicemailUsers[UserId] %}
                            selected="selected"
                        {% endif %}
                        >{{ activeUsers[UserId]['Name'] }}
                        </option>
                    {% endfor %}
                    </select><br />
                    <button type="submit" class="btn btn-primary" style="margin:5px;">Update</button>
                    <a href="/?clear=voicemail" class="btn btn-danger" style="margin:5px;" role="button">Clear</a>
                </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% if unansweredUsers|length > 0 %}
        <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
            <div class="panel-heading">Unanswered Calls<br />Logging Enabled</div>
            <div class="panel-body">
                <form role="form" action="/" autocomplete="off" method="POST" >
                <div class="form-group">
                <select class="form-control" name="unansweredUsers" multiple="multiple" style="height:300px;width=90%">"""
                {% for userId in unansweredUsers %}
                    <option value="{{ userId }}"
                    {% if unansweredUsers[userId] %}
                    selected="selected"
                    {% endif %}
                    >{{ activeUsers[userId]['Name'] }}</option>"
                {% endfor %}        
                    </select><br />
                    <button type="submit" class="btn btn-primary" style="margin:5px;">Update</button>
                    <a href="/?clear=unanswered" class="btn btn-danger" style="margin:5px;" role="button">Clear</a>
                </div>
                </form>
            </div>
        </div>
    {% endif %}i

    <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
        <div class="panel-heading">Options<br/>&nbsp;</div>
        <div class="panel-body" style="text-align:center">
            {% if loggingEnabled %}
                <a href="/?loggingEnabled=disable" class="btn btn-danger" style="margin:5px;" role="button">Disable logging</a>
            {% else %}
                <a href="/?loggingEnabled=enable" class="btn btn-success" style="margin:5px;" role="button">Enable logging</a>
            {% endif %}
            <hr/>
            <form role="form" action="/" method="POST" >
            <div class="form-group">
                <select class="form-control" name="addUser">
                {% for user in usersForShared %}
                    <option value ="{{ user[0] }}">{{ user[1]['Username'] }}</option>
                {% endfor %}
                </select>
                <button type="submit" class="btn btn-success" style="margin:5px;">Add Shared User</button>
            </div>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
        <div class="panel-heading">Load/Save Config<br/>&nbsp;</div>
        <div class="panel-body" style="text-align:center">
            <form class="form" role="form" action="/" method="POST" >
            <div class="form-group">
                <input type="text" class="form-control" name="savename" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="savesecret" placeholder="Passphrase">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning" style="margin:5px;">Save</button>
            </div>
            </form>
            <hr/><form class="form" role="form" action="/" method="POST" >
            <div class="form-group">
                <select class="form-control" name="loadname">"""
                {% for name in savedConfigs %}
                    <option value ="{{ name }}">{{ name }}</option>"
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="loadsecret" placeholder="Passphrase">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning" style="margin:5px;">Load</button>
            </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
        <div class="panel-heading">Asterisk/FreePBX Config<br/>&nbsp;</div>
        <div class="panel-body">
            <form class="form-horizontal" action="/" method="POST" >
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_host" class="col-sm-6 control-label">Host</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="asterisk_host" id="asterisk_host" value="{{ asteriskAuth[0] }}" placeholder="hostname">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_port" class="col-sm-6 control-label">Port</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="asterisk_port" name="asterisk_port" value="{{ asteriskAuth[1] }}" placeholder="5038">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_version" class="col-sm-6 control-label">AMI Version</label>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="asterisk_version" id="asterisk_version" value="{{ asteriskAuth[6] }}" placeholder="1.3">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_cmd_user" class="col-sm-6 control-label">CMD User</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="asterisk_cmd_user" name="asterisk_cmd_user" value="{{ asteriskAuth[2] }}" placeholder="amicmd">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_cmd_secret" class="col-sm-6 control-label">CMD Secret</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="asterisk_cmd_secret" name="asterisk_cmd_secret" placeholder="Secret">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_cdr_user" class="col-sm-6 control-label">CDR User</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="asterisk_cdr_user" name="asterisk_cdr_user" value="{{ asteriskAuth[4] }}" placeholder="amicdr">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label for="asterisk_cdr_secret" class="col-sm-6 control-label">CDR Secret</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="asterisk_cdr_secret" name="asterisk_cdr_secret" placeholder="Secret">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
        <div class="panel-heading">SalesForce Config<br/>&nbsp;</div>
        <div class="panel-body">
            <form class="form-horizontal" action="/" method="POST" >
            <div class="form-group">
                <label for="sf_instance" class="col-sm-6 control-label">Instance</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="sf_instance" id="sf_instance" value="{{ salesforceAuth[0] }}" placeholder="in1.salesforce.com">
                </div>
            </div>
            <div class="form-group">
                <label for="sf_username" class="col-sm-6 control-label">User</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="sf_username" name="sf_username" value="{{ salesforceAuth[1] }}" placeholder="user@ema.il">
                </div>
            </div>
            <div class="form-group">
                <label for="sf_password" class="col-sm-6 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="sf_password" name="sf_password" placeholder="Password">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:113px">
                <label for="sf_token" class="col-sm-6 control-label">Token</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="sf_token" name="sf_token" value="{{ salesforceAuth[3] }}" placeholder="Token">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default" style="height:450px;float:left;width:250px;overflow:hidden;margin:5px;">
        <div class="panel-heading">Email Config<br/>&nbsp;</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/" method="POST" >
                <div class="form-group">
                    <label for="email_server" class="col-sm-6 control-label">Host</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="email_server" id="email_server" value="{{ smtpAuth[0] }}" placeholder="ssl.mail.example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email_port" class="col-sm-6 control-label">Port</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="email_port" name="email_port" value="{{ smtpAuth[1] }}" placeholder="465">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email_address" class="col-sm-6 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="email_address" name="email_address" value="{{ smtpAuth[2] }}" placeholder="mailname@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email_username" class="col-sm-6 control-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="email_username" name="email_username" value="{{ smtpAuth[3] }}" placeholder="mailname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email_password" class="col-sm-6 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="email_password" name="email_password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                        {% if emailEnabled %}
                            <a href="/?emailEnabled=disable" class="btn btn-danger" style="margin:5px;" role="button">Disable</a>'
                        {% else %}
                            <a href="/?emailEnabled=enable" class="btn btn-success" style="margin:5px;" role="button">Enable</a>'
                        {% endif %} 
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>
